# djdg ignore file
blocks/
3cy._LS
djdg.cui
djdg.cuix
sheet.fas
scallop.fas
sarea.fas
rnori.fas
rib.fas
pldim.fas
piles.fas
ahole.fas
pfix.fas
alead.fas
nt.fas
alignbar.fas
modelm.fas
mhole.fas
lstiff.fas
lead2.fas
lead.fas
tbar.fas
sscl.fas
allplotb.fas
trimb2.fas
hstiff.fas
allplotn.fas
gel.fas
truss.fas
allplotx.fas
fcorner.fas
anch1.fas
fanch.fas
erebar.fas
elm.fas
edim.fas
dsk.fas
drebar.fas
dlive.fas
djdgfun.fas
wlen.fas
lap.fas
stud.fas
ldd.fas
trim2.fas
bar.fas
dh.fas
ddrect.fas
dc.fas
da.fas
ctxt.fas
chbdrtxt.fas
iblk.fas
bearing.fas
djdg.mnr
lisplist.txt
kkk.txt
3d2d.lsp
ad3.lsp
ad4.lsp
CHTEXT.LSP
HATCHB.LSP
JONG.LSP