# djdg ignore file
3cy._LS
djdg.cui
djdg.cuix
sheet.fas
scallop.fas
sarea.fas
rnori.fas
rib.fas
pldim.fas
piles.fas
ahole.fas
pfix.fas
alead.fas
nt.fas
alignbar.fas
modelm.fas
mhole.fas
lstiff.fas
lead2.fas
lead.fas
tbar.fas
sscl.fas
allplotb.fas
trimb2.fas
hstiff.fas
allplotn.fas
gel.fas
truss.fas
allplotx.fas
fcorner.fas
anch1.fas
fanch.fas
erebar.fas
elm.fas
edim.fas
dsk.fas
drebar.fas
dlive.fas
djdgfun.fas
wlen.fas
lap.fas
stud.fas
ldd.fas
trim2.fas
bar.fas
dh.fas
ddrect.fas
dc.fas
da.fas
ctxt.fas
chbdrtxt.fas
iblk.fas
bearing.fas
djdg.mnr
lisplist.txt
kkk.txt
3d2d.lsp
ad3.lsp
ad4.lsp
CHTEXT.LSP
HATCHB.LSP
JONG.LSP
KEYWALL.LSP
kkk.lsp
TENSA.LSP
tt.lsp
VSP.LSP
which4.lsp
adim.lsp
checkdwg.LSP
cloth.LSP
edat.lsp
block_list.txt
block_list1.txt
#
#blocks
#
blocks/BOARDERKY
blocks/BORDER901
blocks/BORDERBN
blocks/BORDERBS
blocks/BORDERDD
blocks/BORDERGC
blocks/BORDERGC2
blocks/BORDERGC3
blocks/BORDERLC
blocks/BORDERNU
blocks/BORDERPH
blocks/BORDERPS
blocks/BORDERSU
blocks/BORDERSU2
blocks/BORDERUA
blocks/BSUBT
blocks/CLOFROAD
blocks/CONTCRB_H09
blocks/CONTCRB_H11
blocks/CONTCRB_H14
blocks/CONTCRB_H17
blocks/CONTCRB_H20
blocks/CONTCRB_H24
blocks/DJDG_RATT
blocks/EXP
blocks/GDRSYNOP
blocks/GE_DETAIL01
blocks/GE_DETAIL01_1
blocks/GE_DETAIL02
blocks/GE_DETAIL03
blocks/GE_DETAIL04
blocks/GE_DETAIL05
blocks/GE_DETAIL06
blocks/GE_DETAIL07
blocks/GE_DETAIL08
blocks/GE_DETAIL09
blocks/GE_DETAILBOX01
blocks/GE_DETAILBOX02
blocks/GUBUNBAE2L
blocks/GUBUNBAE2R
blocks/GUBUNBAEL
blocks/GUBUNBAER
blocks/GUBUNILL
blocks/GUBUNILR
blocks/ILNOTE01
blocks/KEYMAP
blocks/P15
blocks/REBARTYPE01
blocks/REBARTYPE02
blocks/REBARTYPE03
blocks/REBARTYPE04
blocks/REBARTYPE05
blocks/REBARTYPE06
blocks/REBARTYPE07
blocks/REBARTYPE08
blocks/REBARTYPE09
blocks/REBARTYPE10
blocks/REBARTYPE11
blocks/REBARTYPE12
blocks/REBARTYPE13
blocks/REBARTYPE14
blocks/REBARTYPE15
blocks/REINDETAIL01
blocks/REINDETAIL02
blocks/REINDETAIL03
blocks/REINDETAIL04
blocks/REINDETAIL05
blocks/REINDETAIL06
blocks/REINDETAIL09
blocks/REINDETAILA09
blocks/REINDETAILA11
blocks/REINDETAILA14
blocks/REINDETAILA17
blocks/REINDETAILA20
blocks/REINDETAILA24
blocks/REINDETAILB09
blocks/REINDETAILB11
blocks/REINDETAILB14
blocks/REINDETAILB17
blocks/REINDETAILB20
blocks/REINDETAILB24
blocks/SUPR
blocks/UPDWN
blocks/UPDWN1
blocks/도곽(모델용)
blocks/도곽(배치용)
